.contact {
   display: flex;
   height: 40px;
   align-items: center;
   cursor: pointer;
   padding: 10px;
   border-bottom: 1px solid gray;

   &:last-child {
      border: none;
   }

   &__photo {
      width: 30px;
      height: 30px;
      border: 1px solid;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      margin-right: 10px;
      font-weight: 500;
      background-repeat: no-repeat;
   }

   &__modal {
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%);
      height: 100%;

      width: 100%;

      @media(max-width:410px) {
         top: 0;
      }
   }
}